__pycache__/
crawlers/__pycache__/
models/__pycache__/
models/papers_classification/.ipynb_checkpoints/
models/papers_classification/__pycache__/
models/papers_classification/authors classif/
models/text_generation/__pycache__/
pipelines/__pycache__/
build/
dist/
naimai.egg-info/
gcloud.py