__pycache__/
naimai/crawlers/__pycache__/
naimai/models/__pycache__/
naimai/models/papers_classification/.ipynb_checkpoints/
naimai/models/papers_classification/__pycache__/
naimai/models/papers_classification/authors classif/
naimai/models/text_generation/__pycache__/
naimai/pipelines/__pycache__/
build/
dist/
naimai.egg-info/
naimai/naimai.egg-info/
