beautifulsoup4==4.11.1
#Bio==1.4.0
#dask==2022.2.0
datasets==1.5.2
faiss-gpu==1.7.1.post3
habanero==1.2.2
keybert==0.7.0
matplotlib==3.2.2
numpy==1.21.6
pandas==1.3.5
pdf2image==1.16.0
#pdfminer==20191125
protobuf==4.21.9
pyinflect==0.5.1
#PyPDF2==2.11.1
pytesseract==0.3.10
requests==2.23.0
scikit_learn==1.1.3
semanticscholar==0.3.0
sentence_transformers==2.2.2
spacy==3.4.2
spacy_langdetect==0.1.2
torch==1.12.1+cu113
tqdm==4.64.1
Unidecode==1.3.6
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz