beautifulsoup4==4.11.1
habanero==1.2.2
keybert==0.7.0
matplotlib==3.2.2
numpy==1.21.2
pandas==1.3.2
pyinflect==0.5.1
requests==2.23.0
scikit_learn==1.0.2
sentence_transformers==2.2.2
spacy==3.4.2
spacy_langdetect==0.1.2
torch==1.12.1
tqdm==4.64.1
Unidecode==1.3.6
datasets==2.6.1
seqeval==1.2.2
lxml==4.9.1
#Bio==1.4.0
#dask==2022.2.0
#faiss-gpu==1.7.1.post3
#pdf2image==1.16.0
#pdfminer==20191125
#PyPDF2==2.11.1
#protobuf==4.21.9
#pytesseract==0.3.10
#semanticscholar==0.3.0